.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid var(--red);
    color: var(--red);
}